################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MainClient/.vs
/MainClient/bin
/MainClient/ExternalReferences
/MainClient/obj
